@import '../../styles/variables.module.scss';

.root {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .calendar-container {
        color: $primary-theme-color;
        font-family: 'proxima-nova', sans-serif;
        width: 100%;


        button {
            background-color: $primary-theme-color;
            border: 2px solid $secondary-theme-color;
        }
    }

    :global(.fc-header-toolbar) {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        :global(.fc-toolbar-title) {
            padding-right: 1rem;
        }
    }
}

.popover {
    padding: 0 .5rem;

    span {
        font-family: 'proxima-nova', sans-serif;
    }

    .popover-title {
        span {
            font-weight: bold;
        }
    }

    .icon {
        min-width: 30px;
    }
}
